@if(!clienteid)
{
<div class="container" style="margin: 10px;">
    <form (submit)="loadData()">
        <mat-form-field appearance="outline">
            <mat-label>Página</mat-label>
            <input matInput placeholder="Página" type="number" [formControl]="page">
            <mat-hint>Nª Página</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Filas</mat-label>
            <input matInput placeholder="Filas" type="number" [formControl]="rows">
            <mat-hint>Cantidad de filas</mat-hint>
        </mat-form-field>
        <button mat-raised-button type="submit" disabled="{{!page.valid || !rows.valid}}">Obtener</button>
    </form>
</div>
}
@if (servicios$ | async) {
<div>
    <table mat-table [dataSource]="servicios$" class="mat-elevation-z8">

        <mat-text-column name="CLIENTE_ID"></mat-text-column>
        <mat-text-column name="CIS"></mat-text-column>
        <mat-text-column name="CLIENTE_SERVICIO_ID"></mat-text-column>
        <mat-text-column name="TIPO_DOC"></mat-text-column>
        <mat-text-column name="NUMERO_DOC"></mat-text-column>
        <mat-text-column name="Nombre_cliente"></mat-text-column>
        <mat-text-column name="nombre_titular"></mat-text-column>
        <mat-text-column name="DIRECCION"></mat-text-column>
        <mat-text-column name="DIRECCION_POSTAL"></mat-text-column>
        <mat-text-column name="calle_google"></mat-text-column>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
}