<div class="container">
    <div class="btn-group btn-group-sm">
        @for (item of moduloAsignado.permisos; track $index) {
        <button type="button" title="Hacer clic para eliminar." class="btn btn-outline-danger"
            (click)="removePermiso(item)">{{item.nombrePermiso}} <i class="bi bi-trash"></i></button>
        }
    </div>
    <div class="container" style="display: flex; padding: 10px;">
        <select class="form-select-sm" style="width: auto;" [(ngModel)]="permisoSelected"
            title="Seleccionar una opción para agregar">
            @for (item of permisos$ | async; track $index) {
            <option [ngValue]="item">{{item.nombrePermiso}}</option>
            }
        </select>
        <button type="button" class="btn btn-sm btn-success" (click)="addPermiso()" [disabled]="!permisoSelected"
            title="agregar"><i class="bi bi-plus-lg"></i></button>

    </div>
</div>