<!-- <p> {{roles$ | async | json}} </p> -->
<!-- <p> {{modulos$ | async | json}} </p> -->
<!-- <p> {{permisos$ | async | json}} </p> -->
<div class="container">
    <h1>Roles</h1>
    <div class="container">
        <div class="row align-items-start">
            <div>
                <form [formGroup]="rolesForm">
                    <label for="name">Nombre del rol:</label>
                    <input type="text" formControlName="name" id="">
                    <div>
                        <h3>Modulos:</h3>
                        @for (item of modulosAsignados.controls; track $index) {
                        <div class="border border-primary rounded" style="margin: 1%; padding: 1%;">
                            <p>{{ item.value.modulo.nombreModulo }}
                                <button type="button" class="btn btn-danger"
                                    (click)="removeModulo($index)">Remove</button>
                            </p>
                            <app-modulo-permisos [moduloAsignado]="item.value"></app-modulo-permisos>
                        </div>

                        }
                    </div>
                </form>
            </div>
            <div class="border border-primary rounded" style="margin: 2%; padding: 2%;">
                <div class="col">

                    <p>Para agregar un módulo se debe seleccionar de la lista.</p>
                    <select [(ngModel)]="selectedModulo">
                        <option *ngFor="let modulo of modulos$ | async" [ngValue]="modulo">{{ modulo.nombreModulo }}
                        </option>
                    </select>

                    @if (selectedModulo) {
                    <button type="button" class="btn btn-primary" (click)="addModulo()"> + Modulo</button>
                    }
                </div>
            </div>


        </div>


    </div>
    <hr>
    <p>{{ rolesForm.value | json }}</p>
    <p>Form Status: {{rolesForm.status}}</p>
</div>