<!-- <p> {{roles$ | async | json}} </p> -->
<!-- <p> {{modulos$ | async | json}} </p> -->
<!-- <p> {{permisos$ | async | json}} </p> -->

<h1>Roles</h1>

<form [formGroup]="rolesForm">
    <label for="name">Nombre del rol:</label>
    <input type="text" formControlName="name" id="">
    <div>
        <div formGroupName="modulosAsignados">
            <h3>Modulos:</h3>
            @for (item of modulosAsignados.controls; track $index) {
            <p>{{ item.value.modulo.nombreModulo }}
                <button type="button" (click)="removeModulo($index)">Remove</button>
            </p>
            }
        </div>
    </div>
</form>
<hr>

<p>Para agregar un módulo se debe seleccionar de la lista.</p>
<select [(ngModel)]="selectedModulo">
    <option *ngFor="let modulo of modulos$ | async" [ngValue]="modulo">{{ modulo.nombreModulo }}</option>
</select>

@if (selectedModulo) {
<button type="button" (click)="addModulo()"> + Modulo</button>
{{ selectedModulo | json}}
}
<hr>

<p>{{ rolesForm.value | json }}</p>
<p>Form Status: {{rolesForm.status}}</p>

@for (item of modulosAsignados.value; track $index) {
<app-modulo-permisos [modulosAsignados]="item"></app-modulo-permisos>
{{item | json}}
}