<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar>
    <button mat-stroked-button routerLink="/clientes/view">Clientes</button>
    <button mat-stroked-button routerLink="/servicios/view">Servicios</button>
    <button mat-stroked-button routerLink="/facturas/view">Facturas</button>
</mat-toolbar>


<router-outlet />