<div class="row">
    <div class="col">
        @if(rolesForm){
        <div class="container">
            <pre><code>{{rolesForm.value | json}}</code></pre>
        </div>
        }
    </div>
    <div class="col">
        <div class="container">
            <div class="container border rounded">
                <form #form="ngForm" [formGroup]="rolesForm" (ngSubmit)="onSubmit()">
                    <label class="form-label" for="name">Id:</label>
                    <input class="form-control" type="text" formControlName="id">

                    <label class="form-label" for="name">Nombre:</label>
                    <input class="form-control" type="text" formControlName="name">

                    <h4>Módulos:</h4>
                    <div class="container">
                        @for (item of modulosAsignados.controls; track $index) {
                        <div class="container border rounded" style="padding: 10px; margin-top: 10px;">
                            <div class="container " style="padding: 5px; margin-bottom: 10px;">
                                <label style="margin-right: 20px;">{{ item.value.modulo.nombreModulo }}</label>
                                <button type=" button" class="btn btn-danger btn-sm" title="eliminar el módulo"
                                    (click)="removeModulo($index)"><i class="bi bi-trash"></i></button>
                            </div>
                            <app-modulos-permisos [moduloAsignado]="item.value"></app-modulos-permisos>
                        </div>
                        }
                    </div>
                    <div class="container" style="padding: 20px;">
                        <button class="btn btn-danger btn-sm" type="button" (click)="onCancel()">Cancelar</button>
                        <button class="btn btn-primary btn-sm" type="submit">Grabar</button>
                    </div>

                </form>
            </div>
            <div class="container border rounded" style="padding: 10px; margin-top: 10px;">
                <h5>Módulos Nuevos</h5>
                <div class="container" style="display: flex; padding: 10px;">
                    <select class="form-select-sm" style="width: auto;" [(ngModel)]="selectedModulo"
                        title="Seleccionar una opción para agregar">
                        <option *ngFor="let modulo of modulos$ | async" [ngValue]="modulo">{{ modulo.nombreModulo }}
                        </option>
                    </select>
                    <button type="button" class="btn btn-sm btn-success" (click)="addModulo()"
                        [disabled]="!selectedModulo" title="agregar"><i class="bi bi-plus-lg"></i></button>
                </div>
                <p>Desde aquí puede agregar nuevos módulos al rol.</p>
            </div>

        </div>
    </div>
</div>