<div class="container">
    <form #form="ngForm" [formGroup]="rolesForm">
        <label class="form-label" for="name">Id:</label>
        <input class="form-control-sm" type="text" formControlName="id">

        <label class="form-label" for="name">Nombre:</label>
        <input class="form-control-sm" type="text" formControlName="name">

        <button class="btn btn-primary" type="submit" (click)="onSubmit()">Submit</button>

        <h3>Modulos:</h3>
        @for (item of modulosAsignados.controls; track $index) {
        <div class="border border-secondary rounded" style="padding: 1px; margin: 1px;">
            <p>{{ item.value.modulo.nombreModulo }}
                <button type=" button" class="btn btn-close" (click)="removeModulo($index)"></button>
            </p>
            <app-modulos-permisos [moduloAsignado]="item.value"></app-modulos-permisos>
        </div>
        }

    </form>


    <p>Para agregar un módulo se debe seleccionar de la lista.</p>
    <select [(ngModel)]="selectedModulo">
        <option *ngFor="let modulo of modulos$ | async" [ngValue]="modulo">{{ modulo.nombreModulo }}
        </option>
    </select>

    @if (selectedModulo) {
    <button type="button" class="btn btn-primary" (click)="addModulo()"> + Modulo</button>
    }
</div>
<hr>
<p>DEBUG</p>
<h4>Form</h4>
{{ rolesForm.value | json}}
<h4>Rol</h4>
{{ currentRol$ | json}}