<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}" />
  </head>
  <body>
    <h1 th:text="${mensaje}"></h1>
    <a href="/admin">Ir a Admin</a>
    <a href="/home">Ir a Home</a>
    <a href="/public">Ir a public</a>
    <a href="/user">Ir a user</a>

    <h1 th:inline="text">
      Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!
    </h1>
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Sign Out" />
    </form>
  </body>
</html>
